.container{
  padding: 16px;
}
button{
  padding: 11px;
  border: 0;
  border-radius: 10px;
  background-color: #514b4b;
  color: white;
  &:hover{
    cursor: pointer;
    background-color: #696262;
    transition: opacity 0.3 ease-in;
  }
}